.cell{
    width:75px;
    height:75px;
    border:3px solid black;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size:50px;
    cursor: pointer;
}
#gamecontainer{
    font-family: "Permanent Marker" , cursive;
    text-align:center;

}

#cellcontainer{
    display:grid;
    grid-template-columns: repeat(3,auto);
    width:225px;
    margin:auto;
}

#restartbtn {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        background: rgb(145, 92, 182);
        padding: 15px 40px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
      }
      
#restartbtn:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(145, 92, 182, .4);  }
 